    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>{{day}}</h2>

            {{#each data}}
            <div class="mix {{classes.day}}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                            {{name}} ({{classes.start}})
                    </div>

                    <div class="panel-body">
                        <address>
                            <strong>({{classes.start}} - {{classes.finish}})</strong><br />{{address.building}}, {{address.street}}, {{address.town}}<br />{{address.postcode}}
                        </address>
                        <!--
                        <img class="street_view" height="300px" width="300px" src="{{../cfg.url}}{{../cfg.path}}/public/img/gkr-logo.png" data-latlon="{{{ geopos address }}}" data-heading="" />
                        -->
                        <div class="travel-info"></div>
                    </div>
                </div>
            </div>
            {{/each}}

            <input name="class_data" id="class_data" type="hidden" value='{{{ json data }}}' />

    </div>