    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>{{day}}</h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{#each data}}
            <!-- {{name}} {{classes.start}} -->
            <div class="panel panel-primary mix {{classes.day}}">
                <div class="panel-heading" role="tab" id="heading_{{_id}}_{{classes.id}}">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{_id}}_{{classes.id}}" aria-expanded="false" aria-controls="collapse{{_id}}_{{classes.id}}">
                            {{name}} ({{classes.start}})
                        </a>
                    </h4>
                </div>
                <div id="collapse_{{_id}}_{{classes.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{_id}}_{{classes.id}}">
                    <div class="panel-body">
                        <address>
                            <strong>({{classes.start}} - {{classes.finish}})</strong><br />{{address.building}}, {{address.street}}, {{address.town}}<br />{{address.postcode}}
                        </address>

                        <img class="street_view img-rounded" height="250px" width="250px" src="{{../cfg.url}}{{../cfg.path}}/public/img/gkr-logo.png" data-latlon="{{{ geopos address }}}" data-heading="" />
                        <span class="travel-info"></span>
                    </div>
                </div>
            </div>
            <!-- / {{name}} {{classes.start}} -->
            {{/each}}

        </div>

        <input name="class_data" id="class_data" type="hidden" value='{{{ json data }}}' />
    </div>