<table>
    {{#each data}}
        <div class='timetable'>
            <strong>{{name}}</strong><br />
            {{address.building}}, {{address.street}}, {{address.town}}, {{address.postcode}}<br />
            {{classes.day}}
            {{classes.start}} - {{classes.finish}}
        </div>
    {{/each}}
</table>
